.content {
  display: flex;
  margin: 70px auto 20px;
  padding: 0 6px;
  max-width: 1160px;
  flex-direction: column;
  align-items: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 6px;
}

.empty-card {
  text-align: center;
  font-size: 20px;
  width: 380px;
}

button {
  margin: 0 5px;
  border: blueviolet solid 2px;
  font-size: 16px;
  background-color: white;
  height: 30px;
  width: 190px;
} 

button:hover:enabled{
  background-color: antiquewhite;
}