label {
    margin: 0 10px;
  }

button {
  border: blueviolet solid 2px;
  background-color: white;
  height: 30px;
  margin: 0 10px;
} 

.toolbar-item {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  border: red solid 2px;
}

.toolbar img {
  margin: 0 15px;
}