label {
    margin: 0 10px;
  }

.toolbar-item {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  margin: 10px;
  align-items: center;
  border: rgba(241, 145, 145, 255) solid 2px;
}

.toolbar img {
  margin: 0 15px;
}