<form class="toolbar" role="banner">
  <a href="/courses"><img height="40" alt="Logo" src="assets/images/Logo.png" /></a>
  <div class="spacer">
    <label><a routerLink="/">Homepage</a></label>
    <label><a routerLink="/courses/add">Add course</a></label>
    <label><a routerLink="/courses">Courses</a></label>
<!--      <label><a href="/courses/:id">Course</a></label>-->
    <label><a routerLink="/login">Login</a></label>
    <label><a routerLink="/registration">Registration</a></label>
  </div>
  <div *ngIf="loggedInUser.id > 0" class="toolbar-item">
      <label>
          <h4>{{loggedInUser.username}}</h4>
      </label>
      <app-button [btnText]="btnText" (click)="logout()"></app-button>
  </div>
<!--  <logout></logout>-->
<!--  <div class="toolbar-item">-->
<!--    <logout></logout>-->
<!--  </div>-->

</form>
<!--<router-outlet></router-outlet>-->
