<!--<navbar></navbar>-->

<form class="form-content">
  <div class="div-column">
    <h3>Login</h3>
    <div class="input-group">
      <label><b>Email</b></label>
      <input class="input-value" required name="email" [(ngModel)]="email" #userEmail="ngModel"
             [class.danger]="hasError1 || (userEmail.errors && (userEmail.dirty || userEmail.touched))" />
      <span class="danger" *ngIf="hasError1 || (userEmail.errors && (userEmail.dirty || userEmail.touched))">Email is required</span>
    </div>
    <div class="input-group">
      <label><b>Password</b></label>
      <input class="input-value" required type="password" name="password" [(ngModel)]="password" #userPassword="ngModel"
             [class.danger]="hasError2 || (userPassword.errors && (userPassword.dirty || userPassword.touched))"/>
      <span  class="danger" *ngIf="hasError2 || (userPassword.errors && (userPassword.dirty || userPassword.touched))">Password is required</span>
    </div>
    <app-button [btnText]="btnText" (click)="hasError1 = userEmail.errors != null; hasError2 = userPassword.errors !=null; takeLogin()"> </app-button>

    <div class="input-group">
      <p>If you don't have an account you can <a href="/registration">Registration</a></p>
    </div>
  </div>
</form>
<!--
<div class="login-wrapper">
  <div>
    <h3>Login Form</h3>

    <div *ngIf="invalidCredentialMsg" ngClass="error">{{invalidCredentialMsg}}</div>
    <div>
      <form [formGroup]="loginForm" (ngSubmit)="takeLogin()">
        <div class="example-full-width" >
          <label>UserName</label>
          <input formControlName="username">
        </div>

        <div class="example-full-width" >
          <label>Password</label>
          <input type="password" formControlName="password">
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

</div>-->
