<navbar></navbar>

<div class="content">
  <ng-container *ngIf="courses.length; else emptyList">
    <div class="card-container" *ngIf="courses.length">
      <app-course *ngFor="let item of courses"
        [course]="item" [editable]="item.edit"
        (newEvent)="showCourse($event)"
        [title]="confirmWindowInputs.title"
        [message]="confirmWindowInputs.message"
        [okButtonText]="confirmWindowInputs.okButtonText"
        [cancelButtonText]="confirmWindowInputs.cancelButtonText">
      </app-course>
      <button [disabled]="count > 3" (click)="addCourse()">Add new course</button>
    </div>
  </ng-container>
</div>


<ng-template #emptyList>
  <div class="empty-card">
    <h2>Your list is empty</h2>
    <p>Please use the <b>'Add new course'</b> button to add your first course</p>
    <button (click)="addCourse()">Add new course</button>
  </div>
</ng-template>
